.learnwrap{
  #container {
    width: 100%;
    height: 100%;
    background-color: #eee;
  }

  /* MAIN CONTENT CONFIGURATION */
  #main-content {
      margin-bottom: 1rem;
      background: #eee;
      padding-top: 1rem;
  }
  .img-circle {
    max-width:100%;
  }

  .header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1002;
      background: #4d4d4d;
      height: 0.8rem;
      padding-left: 0.3rem;
      li{
        float: left;
        line-height: 0.8rem;
        padding: 0 0.5rem;
        a{
          color: #fff;
          font-size: 14px;
        }
      }
  }

  .wrapper {
      margin-left: 0.8rem;
      margin-right: 0.8rem;
      padding-bottom: 0.3rem;
      padding-top: 0.2rem;
      margin-bottom:0.4rem;
      border-bottom: 1px solid #d4d4d4;
  }

  article{
    position: relative;
    word-wrap: break-word;
  }
  .meta{
    position: relative;
    float: right;
    color: #555;
    font-size: 12px; 
    line-height: 2;
    width: auto;
    text-align: right;
  }
 
  h1.title{
    font-size: 22px;
    font-weight: 300;
    line-height: 0.8rem;
    margin-bottom: 0.3rem;
  }
  .entry-content{
    font-size: 14px;
    line-height: 1.8;
    word-wrap: break-word;
    color:#1a1a1a;
  }
  
  .actMore{
    margin-top:20px;
    a{
      color:#08c;
      font-size:14px;
      font-weight:600;
    }
  }
  
  .site-footer{
    background: #4d4d4d;
    text-align: center;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  .learnwrap{
    height: 100%;
  }
}

[data-dpr="2"] .meta { font-size: 24px; } 
[data-dpr="3"] .meta { font-size: 36px; }
[data-dpr="2"] h1.title { font-size: 44px; } 
[data-dpr="3"] h1.title { font-size: 66px; } 
[data-dpr="2"] .entry-content{ font-size: 28px; } 
[data-dpr="3"] .entry-content{ font-size: 42px; } 
[data-dpr="2"] .actMore a { font-size: 28px; } 
[data-dpr="3"] .actMore a  { font-size: 42px; } 
[data-dpr="2"] .learnwrap .header a { font-size: 28px; } 
[data-dpr="3"] .learnwrap .header a  { font-size: 42px; } 