@import "./font/iconfont.css";
.aboutwrap{
	background: #323436;
  height: 100%;
	.header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1002;
      background: #4d4d4d;
      height: 0.8rem;
      padding-left: 0.3rem;
      li{
        float: left;
        line-height: 0.8rem;
        padding: 0 0.5rem;
        a{
          color: #fff;
          font-size: 14px;
        }
      }
  }
  .icon-menu{
    display: none;
    float: right;
    padding-right: 0.2rem;
  }
  .icon-emoji-3{
      color: red;
    }
  .showPerson{
    display: none;
  }
  .profilepic{
    display: block;
    border: 5px solid #fff;
    border-radius: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #88acdb;
    -webkit-transition: all .2s ease-in;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
  }
  h3{
    text-align: center;
    font-size: 20px;
    line-height: 1rem;
    border-bottom: 1px solid #fff;
  }

  .namewrap{
    color: #fff;
    border:none;
  }
  .tech{
    margin: 0rem auto;
    color: #fff;
    width: 5rem;
    margin-top: 0.5rem;
    padding: 0 0.4rem;
    article{
      margin-bottom: 0.3rem;
    }

    strong{
      color: #9f3;
      font-size: 16px;
      margin-bottom: 0.2rem;
      display: inline-block;
    }
    p{
      line-height: 0.4rem;
      a{
        color: #fff;
      }
    }
    .contact{
      padding-top: 0.2rem;
      padding-bottom: 1rem;
      font-size: 16px;
      p{
        line-height: 0.8rem;
      }
    }
    
    .unit{
      color: #fff;
      font-size: 14px;
      border:1px solid #fff; 
      padding: 0.1rem;
      border-radius: 0.2rem;
      margin: 0.2rem;
      display: inline-block;
    }
    .alltech{
      padding: 0.2rem 0rem;
    }
  }
  .aboutMe{
    background: #323436;
    padding: 0.8rem 1rem 0 1rem;
    display: flex;
    .head{
      margin-top: 1rem;
    }
    .sidebar{
      background-color: #00bfa5;
      width: 5rem;
      z-index: 100;
    }
    .content{
      flex:1;
      background-color: #fff;
      padding: 0 0.2rem;
      h3{
       color:#00796b;
       text-align: left; 
       border-bottom: 1px solid #00796b;
       line-height: 0.8rem;
      }
      .skill{
        padding-top: 0.2rem;
      }
      .light{
        display: flex;
        .lab{
          line-height: 0.4rem;
          color: red;
        }
        .lightwrap{
          flex:1;
        }
      }
      p{
        line-height: 0.4rem;
        margin-bottom: 0.2rem;
        color: #616161;
      }
      .exp{
        border-left: 2px solid #00796b;
        margin-left: 0.2rem;
        li{
          position: relative;
          top: -5px;
          margin: 20px 0 20px 20px;
          .circle{
            height: 14px;
            width: 14px;
            border-radius: 100%;
            background: #00796b;
            float: left;
            position: absolute;
            left: -28px;
            top: 5px;
          }
          h4{
            line-height: 0.5rem;
            font-size: 18px;
            color: #000;
            position: relative;
            bottom: 3px;
            margin-bottom: 0.4rem;
          }
        }
      }    
    }
  }
}
[data-dpr="1"]{
  @media (max-width: 767px ){
    .aboutwrap{
      .aboutMe{
        padding: 0.8rem 0 0 0;
        .sidebar{
          display: none;
          width: 7rem;
          &.show{
            display: block;
          }
        }
        .showPerson{
          display: inline-block;
        }
      }
      .icon-menu{
        display: inline-block;
        font-size: 28px;
        color: #fff;
        font-weight: bolder;
      }
    }
  }
}
[data-dpr="2"]{
  .iconfont{
    font-size: 32px;
  }
  .aboutwrap{
    h3{
      font-size: 40px;
    }
    .icon-menu{
      display: inline-block;
      font-size: 56px;
      color: #fff;
      font-weight: bolder;
    }
    .header{
      a{
        font-size: 24px;
      }
    }
    .tech{
      p{
        font-size: 28px;
        line-height: 0.6rem;
      }
      strong{
        font-size: 32px;
      }
      .unit{
        font-size: 28px;
      }
    }
    .aboutMe{
      padding: 0.8rem 0 0 0;
      .sidebar{
        display: none;
        width: 7rem;
        &.show{
          display: block;
        }
      }
      .showPerson{
        display: inline-block;
      }
      .content{
        .exp{
          li{
            h4{
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
[data-dpr="3"]{
  .iconfont{
    font-size: 48px;
  }
  .aboutwrap{
    h3{
      font-size: 60px;
    }
    .icon-menu{
      display: inline-block;
      font-size: 84px;
      color: #fff;
      font-weight: bolder;
    }
    .header{
      a{
        font-size: 36px;
      }
    }
    .tech{
      p{
        font-size: 42px;
        line-height: 0.6rem;
      }
      strong{
        font-size: 48px;
      }
      .unit{
        font-size: 42px;
      }
    }
    .aboutMe{
      padding: 0.8rem 0 0 0;
      .sidebar{
        display: none;
        width: 7rem;
        &.show{
          display: block;
        }
      }
      .showPerson{
        display: inline-block;
      }
      .content{
        .exp{
          li{
            h4{
              font-size: 48px;
            }
          }
        }
      }
    }
  }
}
